In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/raw/ChEMBL_LD50.csv', delimiter=';')

In [3]:
df.head()

,Molecule ChEMBL ID,Molecule Name,Molecule Max Phase,Molecular Weight,#RO5 Violations,AlogP,Compound Key,Smiles,Standard Type,Standard Relation,...,Target Type,Document ChEMBL ID,Source ID,Source Description,Document Journal,Document Year,Cell ChEMBL ID,Properties,Action Type,Standard Text Value
0,CHEMBL159677,NaN,NaN,274.36,0.0,2.65,6i,COc1ccccc1NC(=O)CC12CCCN1CCC2,LD50,'=',...,ORGANISM,CHEMBL1123007,1,Scientific Literature,J Med Chem,1985.0,NaN,NaN,NaN,NaN
1,CHEMBL28962,NaN,NaN,372.88,0.0,0.83,4br,CN(CCCn1cc[n+](C)c1/C=N/O)S(=O)(=O)c1ccccc1.[Cl-],LD50,'>',...,ORGANISM,CHEMBL1125665,1,Scientific Literature,J Med Chem,1991.0,NaN,NaN,NaN,NaN
2,CHEMBL94427,HOMOEPIBATIDINE,NaN,222.72,0.0,2.73,2,Clc1ccc(C2CC3CCCC2N3)cn1,LD50,'=',...,ADMET,CHEMBL1128964,1,Scientific Literature,Bioorg Med Chem Lett,1996.0,NaN,NaN,NaN,NaN
3,CHEMBL298470,TAFENOQUINE,4.0,463.50,1.0,5.91,8a,COc1cc(C)c2c(Oc3cccc(C(F)(F)F)c3)c(OC)cc(NC(C)...,LD50,'=',...,ORGANISM,CHEMBL1124633,1,Scientific Literature,J Med Chem,1989.0,NaN,NaN,NaN,NaN
4,CHEMBL607363,NaN,NaN,347.48,0.0,3.41,25a,Cc1cccc(C)c1OCC(C)NC(=O)C1CC(C)(C)N([O])C1(C)C,LD50,'=',...,ORGANISM,CHEMBL1123299,1,Scientific Literature,J Med Chem,1986.0,NaN,NaN,NaN,NaN

In [4]:
# Выберем из датасета только те столбцы, которые понадобятся для дальнейшего анализа
df = df[['Smiles', 
         'Standard Type', 
         'Standard Relation', 
         'Standard Value', 
         'Standard Units', 
         'Target Name', 
         'Target Organism', 
         'Target Type',
         'Assay Description']]

In [5]:
df.head()

,Smiles,Standard Type,Standard Relation,Standard Value,Standard Units,Target Name,Target Organism,Target Type,Assay Description
0,COc1ccccc1NC(=O)CC12CCCN1CCC2,LD50,'=',381.0,mg.kg-1,Mus musculus,Mus musculus,ORGANISM,Acute toxicity was determined in mice
1,CN(CCCn1cc[n+](C)c1/C=N/O)S(=O)(=O)c1ccccc1.[Cl-],LD50,'>',170.0,umol.kg-1,Mus musculus,Mus musculus,ORGANISM,LD50 value was determined intramuscularly in m...
2,Clc1ccc(C2CC3CCCC2N3)cn1,LD50,'=',10.0,mg.kg-1,ADMET,NaN,ADMET,Lethal dose determined in Mice
3,COc1cc(C)c2c(Oc3cccc(C(F)(F)F)c3)c(OC)cc(NC(C)...,LD50,'=',416.0,mg.kg-1,Rattus norvegicus,Rattus norvegicus,ORGANISM,Acute toxicity administered orally was determi...
4,Cc1cccc(C)c1OCC(C)NC(=O)C1CC(C)(C)N([O])C1(C)C,LD50,'=',21.0,mg.kg-1,Rattus norvegicus,Rattus norvegicus,ORGANISM,Acute toxicity in secondary evaluation when ad...

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13758 entries, 0 to 13757
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Smiles             13631 non-null  object
 1   Standard Type      13758 non-null  object
 2   Standard Relation  13157 non-null  object
 3   Standard Value     13144 non-null  float64
 4   Standard Units     13226 non-null  object
 5   Target Name        13758 non-null  object
 6   Target Organism    11600 non-null  object
 7   Target Type        13758 non-null  object
 8   Assay Description  13758 non-null  object
dtypes: float64(1), object(8)
memory usage: 967.5+ KB

In [8]:
# Посмотрим на количество пропусков в данных
df.isna().sum()

Smiles                127
Standard Type           0
Standard Relation     601
Standard Value        614
Standard Units        532
Target Name             0
Target Organism      2158
Target Type             0
Assay Description       0
dtype: int64

In [9]:
# Проверим, есть ли в датасете полные дубли
duplicates = df.duplicated()
duplicated_rows = df[duplicates]
print(duplicates.sum()) # видно, что в датасете есть 66 строк, которые являются дублями
# Удалим их
df.drop_duplicates(inplace=True)

66

In [12]:
# Удалим строки, для которых отсутствуют значения LD50
df = df[pd.notna(df['Standard Value'])]
# Удалим строки, для которых отсутствуют значения Smiles
df = df[pd.notna(df['Smiles'])]
# Посмотрим на результат
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12972 entries, 0 to 13757
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Smiles             12972 non-null  object
 1   Standard Type      12972 non-null  object
 2   Standard Relation  12971 non-null  object
 3   Standard Value     12972 non-null  float64
 4   Standard Units     12921 non-null  object
 5   Target Name        12972 non-null  object
 6   Target Organism    11030 non-null  object
 7   Target Type        12972 non-null  object
 8   Assay Description  12972 non-null  object
dtypes: float64(1), object(8)
memory usage: 1013.4+ KB

Значения LD50 для различных соединений приведены в различных единицах измерения. Отфильтруем только те, что привдены в mg/kg

In [14]:
df = df[df['Standard Units'] == 'mg.kg-1']

In [17]:
df.shape # осталось всего 6554 строки

(6554, 9)

In [20]:
# Экспортируем предобработанный датасет в новый csv файл
df.to_csv('../data/raw/ChEMBL_LD50_preprocessed.csv')